.vs/
.vscode/
*.user
*.suo
*.userprefs
*.DotSettings.user
*.pidb
.idea/

# raa'i
!*.sln
!**/*.sln
!**/*.csproj
!**/*.props
!**/*.targets


[Bb]in/
[Oo]bj/
**/bin/
**/obj/

*.xnb
!**/Content/**
!**/*.mgcb


packages/
*.nupkg


artifacts/
project.lock.json
project.fragment.lock.json


*.log
*.sqlite
*.db


Thumbs.db
desktop.ini
.DS_Store


*.userosscache
*.DotSettings


*.exe
*.dll